{% extends "base.html" %}

{% block stylesheet %}
<link href="css/error-casual.css" rel="stylesheet">
{% endblock %}

{% block content %}
<hr>
<h2 class="intro-text text-center">
  The Path <strong>Less Traveled</strong>
</h2>
<hr>
<div class="row">
  <div class ="col-sm-3 col-md-3 col-lg-3"></div>
  <div class ="col-sm-12 col-md-6 col-lg-6">
    <hr class="visible-xs">
    <p> </p>
    <p class="text-center">
      You have ventured into uncharted territory.
      Use the links in the navigation bar to make your way back to safety.
    </p>
  </div>
  <div class ="col-sm-3 col-md-3 col-lg-3"></div>
{% endblock %}
