{% extends "base.html" %}

{% block content %}
<hr>
<h2 class="intro-text text-center">
 <strong>Projects</strong>
</h2>
<hr>

<div class="row">

  <div class ="col-sm-2 col-md-2 col-lg-2">
    <img src="img/dillonhicksioflavicon.jpg" class="img-responsive" alt="Breakout">
  </div>
  <div class="col-sm-12 col-md-10 col-lg-10">
    <p><a href="https://github.com/vengefuldrx/dillonhicks.io">DillonHicks.io</a> - April 2016 - I got bored one day and induldged my vanity...</p>
  </div>
</div>

<br/>
<div class="row">

  <div class ="col-sm-2 col-md-2 col-lg-2">
    <img src="img/breakout.png" class="img-responsive" alt="Breakout">
  </div>
  <div class="col-sm-12 col-md-10 col-lg-10">
    <p><a href="projects_breakout.html">Breakout</a> - April 2016 - Curiosity quickly overtook vanity so I made a game javascript (es6).</p>
  </div>
</div>

{% endblock %}
