{% extends "base.html" %}
{% block head %}
{{ super() }}
<script src="js/game.js" > </script>
{% endblock %}

{% block content %}

<h2 class="intro-text text-center">
 <strong>Breakout</strong> - The 4 hour edition
</h2>
<hr>

<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12" width="640" height="480">
<canvas id="buffer1" width="640" height="480" style="position: absolute;"></canvas>
<canvas id="buffer2" width="640" height="480" style="position: absolute; visibility: hidden;"></canvas>
<div id="b" width="640" height="480" style="height: 480px; width: 640px; visibility: visible;"></div>
</div>
</div>

<div class="row">

<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div class="col-sm-3 col-md-3 col-lg-3">
<button id="leftButton" style="height: 60px; width: 100px;">left</button>
</div>


<div class="col-sm-2 col-md-2 col-lg-2">
<button id="pauseButton" style="height: 60px; width: 100px;">pause</button>
</div>

<div class="col-sm-1 col-md-1 col-lg-1"></div>


<div class="col-sm-3 col-md-3 col-lg-3">
<button  id="rightButton" style="height: 60px; width: 100px;">right</button>
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>


<script>
  var canvases = [document.getElementById("buffer1"), document.getElementById("buffer2")];
  var game = new Session(canvases[0], canvases[1]);

  function run() {
    game.runLoop();
  }

  function init() {
    var levelManager = new LevelManager(game);
    levelManager.loadLevel();
  }

  init();
  setInterval(run, 5);
</script>

{% endblock %}
